button.open-button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button.open-button:focus {
  outline: none;
}

.space {
    position: fixed;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 50%;
    background-color: white;
    z-index: 100;
    padding: 20px;
    transition: transform 0.3s ease-out;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    overflow-y: auto;
    pointer-events: auto;
    }
  
  .space.open {
    transform: translateX(-100%);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
  }
  
  .overlay.open {
    visibility: visible;
    pointer-events: auto;
  }

  .no-hover {
    pointer-events: none;
  }